* {
    color: black;
    font-family: "Arial Black", Gadget, sans-serif;
}

body {
    text-align: center;
    background: linear-gradient(to right, black, white 50%, black);
    opacity: .9;
}

#startButton {
    background-color: red;
    border: ridge 5px;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 45%;
    right: 45%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}